
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
nav{
    background-color: #0B3F80;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10 px rgb(0, 0, 0, 1);
}


nav .navbar {
    height: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 30px;

}

.navbar a {
    font-size: 30px;
    font-weight: 500;
    column-rule:white;
    text-decoration: none;
}


.mid-pages a{
    color: aliceblue;
}